<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         version="6.0">

    <servlet>
        <servlet-name>orderServlet</servlet-name>
        <servlet-class>
            com.example.servlet.OrderServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>orderServlet</servlet-name>
        <url-pattern>/orders</url-pattern>
    </servlet-mapping>

</web-app>